body {
  background-color: #000;
  font-family: "Helvetica Neue", sans-serif;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

#card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  background-color: #0d0d0d;
  border-radius: 5%;
}
  
#profile {
  width: 100%;
  border-radius: 5%;
}

#text01 {
  color: #F5F8FA;
  padding-left: 5%;
}

#name {
  margin-bottom: -0.5%;
}

#tagline {
  font-weight: 400;
}

#text02 {
  color: #AAB8C2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  line-height: 1.5em;
}

.social-links {
  padding-left: 5%;
  padding-bottom: 10%;
}

.social {
  font-size: 1.5em;
  margin-right: 0.75em;
  color: #AAB8C2;
}

.social:hover {
  color: #ffffff;
}

@media (min-width: 760px) {
  #card {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  #card {
    width: 40%
  }
}

@media (min-width: 1260px) {
  #card {
    width: 30%
  }
}

@media (min-width: 1500px) {
  #card {
    width: 20%
  }
}
