body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: #AAB8C2;
    animation: fade 2.5s;
  }
  
  .outline {
    display: flex;
    margin: auto;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10rem;
    justify-content: center;
    align-content: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: solid #ff0062;
  }
  
  .profile {
    width: 95%;
    height: 95%;

    border-radius: 50%;
    padding: 2.5%
  }
  
  .main {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
  }
  
  #name {
    margin: 0;
    padding-top: 1%;
    flex: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.25em;
  }
  
  #tagline {
    margin: 0;
    padding-top: 1%;
    flex: auto;
    font-size: 1.25em;
  }
  
  .social {
    list-style: none;
    padding: 0%;
    margin: 0%;
  }
  
  li {
    display: inline-block;
    margin: 1rem;
  }
  
  a {
    color: #AAB8C2;
    font-size: 1.75em;
  }
  
  #location {
    font-size: 1.25em;
  }
  
  #twitter:hover {
    color: #1DA1F2;
  }
  
  #github:hover {
    color: #000;
  }
  
  #orcid:hover {
    color: #a6ce39
  }
  
  #mail:hover {
    color: #5946c7;
  }
  
  /*
  @media (max-width: 1680px) {
    .outline {
      margin-top: 10rem;
    }
  
  }
  
  @media (max-width: 1280px) {
    .outline {
      margin-top: 25rem;
    }
  }
  */
  /*
  @media (max-width: 980px) {
    .outline {
      margin-top: 20rem;
    }
  }
  */
  /*
  @media (max-width: 736px) {
    .outline {
      margin-top: 15rem;
    }
  }*/
  
  @media (max-width: 480px) {
    html {
      font-size: 10pt;
    }
  }
  
  @media (max-width: 360px) {
    html {
      font-size: 10pt;
    }
  }