---
import Base from "../layouts/Base.astro";
---

<Base title="404: Not Found">
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-light dark:text-dark text-center">
    <p>404: Not Found</p>
    <p>uh oh, this page doesn't exist :(</p>
  </div>
</Base>
