---
import Base from "../layouts/Base.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/nsb-logo.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Homepage of Nicolas Buitrago, systems and synthetic biologist." />
	</head>
	<Base title="Nicolas Buitrago">
		<div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
			<h1 class="font-display text-4xl md:text-5xl text-fg-dark dark:text-fg-light text-right">@NSBuitrago</h1>
			<h2 class="text-lg text-fg-dark dark:text-fg-light text-right mt-3">Systems & Synthetic Biologist</h2>
			<div class="text-2xl text-right mt-3 text-fg-dark dark:text-fg-light">
				<a class="hover:ease-in-out duration-300 hover:text-primary" href="https://x.com/nsbuitrago" aria-label="x/twitter link" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
				<a class="hover:ease-in-out duration-300 hover:text-primary mx-7" aria-label="github link" href="https://github.com/nsbuitrago" target="_blank"><i class="fab fa-github"></i></a>
				<a class="hover:ease-in-out duration-300 hover:text-primary" aria-label="email link" href="mailto:mail@nsbuitrago.xyz"><i class="fas fa-envelope"></i></a>
			</div>
		<div>
	</Base>
</html>
