<header class="h-10 m-5 flex flex-row">
	<a href="/">
		<img src="/nsb-logo.svg" alt="NSB logo" class="h-12 w-12 md:w-16 md:h-16 block dark:hidden">
		<img src="/nsb-logo-dark.svg" alt="NSB logo" class="h-12 w-12 md:w-16 md:h-16 hidden dark:block">
	</a>

<!--
	<nav class="m-auto">
		<ul class="flex flex-row justify-evenly">
			<li>
				<sup>00</sup>
				<a class="hover:underline" href="/research">
					Research
				</a>
			</li>
			<li class="mx-10">
				<sup>01</sup>
				<a class="hover:underline" href="/notes">
					Notes
				</a>
			</li>
			<li>
				<sup>03</sup>
				<a class="hover:underline" href="/about">
					About
				</a>
			</li>
		</ul>
	</nav>

-->
</header>
